[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twstock = "*"
lxml = "*"
pandas = "*"
cython = "*"
pystan = "==2.19.1.1"
convertdate = "*"

[dev-packages]

[requires]
python_version = "3.9"
